body {
  text-align: center;
  font-size: 37px !important;
  color: #fff;
  font-weight: 900;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

header {
  background-color: #626362;
  height: 115px;
}

main {
  width: 100%;
  background-color: turquoise;
  display: flex;
  flex-flow: row;
}

article {
  background-color: #78668a;
  height: 130px;
  width: 100%;
  border-bottom: 1px white solid;
}

.articles {
  flex: 3 1 80%;
  width: 100%;
}

aside {
  background-color: #a56daa;
  height: 393px;
  width: 20%;
  flex: 1 1 20%;
}

section {
  background-color: #242b2a;
  height: 400px;
}

footer {
  background-color: #ed6464;
  height: 120px;
  width: 100%;
}
